{% extends 'base.html' %} {% load static %} {% block content %} 

{% if request.user == user %}
<h1 class="homepagetitle mt-4 mb-5 d-flex justify-content-center align-items-center" style="font-size: 2.4rem; color: rgb(231, 114, 208);">
  Hello&nbsp
  <span style="font-size: 2.4rem; color: rgb(231, 114, 208);"
    >{{user.username}}&nbsp&nbsp<i class="wave far fa-hand-paper" style="font-size: 2.4rem; color: rgb(231, 114, 208);"></i></span
  >
</h1>
{% endif %}


<div class="row col-12">
  <div class="col-lg-6">
    <div class="pt-3 mt-4 profile-image">
      <img
        src="{% static user.avatar.url %}"
        alt="{{user.username}}'s avatar"
        class="rounded-circle shadow"
        height="300"
        width="275"
      />
    </div>
    {% if request.user == user %}
    <span>
      <div class="editicon">
        <a
          href="{% url 'users_app:update' user.username %}"
          style="
            color: rgb(226, 81, 197);
            -webkit-text-stroke: 1px black;
            text-decoration: none;
          "
        >
          <i class="fas fa-user-edit"></i>
        </a>
      </div>
    </span>
    {% endif %}

    <!-- 'users_app:update' user.username -->

    <table class="table profile-margin">
      <tbody>
        {% if request.user == user %}
        <tr>
          <th scope="row"></th>
          <td>Name:</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>Email:</td>
          <td>{{user.email}}</td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row"></th>
          <td>Username:</td>
          <td>{{user.username}}</td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>Profile created:</td>
          <td>{{user.date_joined|date}}</td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>Galleries:</td>
          <td>{{number_of_galleries}}</td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>Followers:</td>
          <td>0</td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>Following:</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    {% if request.user == user %}


      <h3 class=" d-flex homepagetitle" style="justify-content:center; margin-top: 30px; margin-bottom: 0px; padding:10px; height: 75px; font-size: 2.2rem; color: rgb(231, 114, 208);">
        <i><a class="zoom-box homepagetitle far fa-plus-square" href="{% url 'gallery_app:creategallery' user.username %}" style="text-decoration: none; font-size: 2.2rem; color: rgb(231, 114, 208); position:relative; left: -70px; font-size: 2rem;"></i></a>
           Your Galleries:
      </h3>


   

    {% else %}
    <h3 class=" d-flex justify-content-center homepagetitle" style="margin-top: 30px; margin-bottom: 0px; padding:10px; height: 75px; font-size: 2.2rem; color: rgb(231, 114, 208);">
        {{user.username}}'s Galleries:
    </h3>

    {% endif %}

    <div class="gallery-title-container" style="border-radius: 5px; background-color: #212529; color: rgb(231, 114, 208)">
      <div class="m-3">

        Title
      </div>
      <div class="m-3">

        <i class="far fa-arrow-alt-circle-right"></i>  
      </div>
      <div class="m-3">

        Created
      </div>
      <div class="m-3">

      <i class="far fa-arrow-alt-circle-right"></i>   
      </div>

      <div class="m-3">
        NFT's
      </div>
      
    </div>


    <div class='user-galleries'  style="background-color: rgb(247, 229, 243); border-radius: 8px;">

      <div class="gallery-posts mt-0">

     


        <table class="table profile-margin" style="color:rgb(231, 114, 208); font-weight: bolder;">
          <tbody>


    {% for gallery in user_galleries %}
      {% if gallery.newnft.count > 0 %}
    

    <tr>
  
      <th scope="row">
        <td><a href="{% url 'gallery_app:galleryview' gallery.user gallery.id %}" >{{gallery.gallery_name}}</a></td>
        <td>{{gallery.created_date|date:'m-d-Y'}}</td>
        
              
      <td>{{gallery.newnft.count}}</td>
      {% if gallery.user == request.user %}
      <td> <a class="nav-link active fa-solid fa-trash-can" style="padding-top: 3px; font-size: 20px;" href="{% url 'gallery_app:delete' gallery.id %}"></a></td>
      </th>


  {% endif %}
  {% endif %}
    

    {% endfor %}

   </tr>
         
      </tbody>
        </table>
      </div>

      </div>

    </div>



  </div>
</div>

{% endblock content %}




