* {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.1rem;
}

.login-image {
  background: url("/static/images/museum.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bell {
  margin-left: 10px;
}

.nav-hover:hover {
  background-color: rgb(238, 230, 235);
}

.loged-in-background {
  background-color: white;
}

.homepagetitle {
  -webkit-text-stroke: 2px black;
  width: auto;
}

.user-galleries {
  height: 800px;
  width: auto;
  overflow-y: scroll;
  display: flex;
  justify-content: space-evenly;
}

.profile-image {
  margin-left: 70px;
}

/* 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.register-title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-width {
  padding: 7px;
  color: #212529;
  border-radius: 5px;
  font-size: 2.3rem;
  font-weight: bold;
  width: fit-content;
  background-color: rgb(231, 114, 208);
}

.fas {
  font-size: 25px;
}

.far {
  font-size: 25px;
}

.user-registration {
  color: white;
  padding: 30px;
  margin: 30px;
  border-radius: 30px;
  background-color: #212529;
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: fit-content;
}

.register-button {
  margin-top: 20px;
  width: fit-content;
}

.profile-margin {
  margin-top: 15px;
  margin-bottom: 30px;
}

.user-galleries {
  margin-bottom: 20px;
}

label {
  color: rgb(231, 114, 208);
  margin: 5px;
}

ul li {
  list-style: none;
}

.editicon {
  position: relative;
  left: 45px;
}

.loginwrapper {
  display: flex;
  justify-content: center;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
  color: rgb(255, 255, 255);
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: #212529;
  text-align: center;
  border-radius: 5px;
  padding: 10px 5px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.zoom-box {
  transition: transform 0.7s;
}

.zoom-box:hover {
  transform: scale(1.2);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: 2;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.alert {
  width: fit-content;
}

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.museum-page {
  color: rgb(231, 114, 208);
}

p {
  font-size: 2.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
}

.text {
  bottom: 300px;
  top: 130px;
  left: 30px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  display: table;
}

.t1 {
  animation: t-animation 3s;
}

@keyframes t-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes end-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery-title-container {
  display: flex;
  justify-content: center;
}

.trash-cans {
  display: flex;
  justify-content: center;
  background-color: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
